<div id="title">
  <h1>
    <a id="sitename" href="http://schaazzz.github.io">Shahzeb Ihsan</a>

    <br>

    {% unless site.git == "" %}
		  <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>
    {% endunless %}

    {% unless site.google-plus == "" %}
      <a id="so-ic" href="{{site.google-plus}}"><i class="fa fa-google-plus"></i></a>
    {% endunless %}

    {% unless site.linkedin == "" %}
      <a id="so-ic" href="{{site.linkedin}}"><i class="fa fa-linkedin"></i></a>
    {% endunless %}

    {% unless site.flickr == "" %}
      <a id="so-ic" href="{{site.flickr}}"><i class="fa fa-flickr"></i></a>
    {% endunless %}

    {% unless site.twitter == "" %}
      <a id="so-ic" href="{{site.twitter}}"><i class="fa fa-twitter"></i></a>
    {% endunless %}
  </h1>

  <p>"The reasonable man adapts himself to the world; the unreasonable man persists in trying to adapt the world to himself. Therefore, all progress depends on the unreasonable man." -- George Bernard Shaw</p>
  <hr/>

  {% include nav-links.html %}

</div>
